{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "project": "./tsconfig.eslint.json"
  },
  "env": {
    "es6": true,
    "commonjs": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "func-names": "off",
    "no-param-reassign": "warn",
    "no-restricted-syntax": "off",
    "sort-keys": "warn",
    "no-continue": "off",
    "no-labels": "off",
    "no-label-var": "off",
    "no-void": "off",
    "no-undefined": "error",

    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/strict-boolean-expressions": "error",
    "@typescript-eslint/prefer-regexp-exec": "error",
    "@typescript-eslint/prefer-optional-chain": "error",
    "@typescript-eslint/prefer-nullish-coalescing": "error",
    "@typescript-eslint/prefer-for-of": "error",
    "@typescript-eslint/no-floating-promises": ["error", { "ignoreVoid": true }],
    "@typescript-eslint/no-throw-literal": "error",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "ignoreRestSiblings": true
      }
    ],
    "@typescript-eslint/interface-name-prefix": "warn",
    "@typescript-eslint/explicit-function-return-type": "warn"
  },
  "overrides": [
    {
      "files": [
        "**/__tests__/*.{ts,js}"
      ],
      "rules": {
        "@typescript-eslint/no-var-requires": "warn",
        "@typescript-eslint/ban-ts-ignore": "warn"
      }
    },
    {
      "files": [
        "**/__tests__/**/*.jest.test.{ts,js}"
      ],
      "env": {
        "jest": true
      }
    },
    {
      "files": [
        "test-harness/**/*.ts"
      ]
    }
  ]
}
